:root {
  --azul: rgb(76, 108, 212);
  --verde: rgb(61, 204, 125);
  --sombra: rgba(0, 0, 0, 0.25) 0px 0px 4px;
}

body {
  font-family: "Roboto" !important ;
  height: 100vh;
  background-color: rgb(252, 249, 249);
}
.cabecera,
.navbar,
.content {
  background-color: white;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.cabecera {
  border-bottom: 5px solid;
  border-image-slice: 3;
  border-image-source: linear-gradient(to right, var(--azul), var(--verde));
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: var(--sombra);
  /*  border: 1px solid rgb(99, 97, 97); */
}
.nav-container {
  flex: 0 60px;
}
.navbar {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: var(--sombra);
  left: 0px;
  height: 100%;
}
.icono_nav {
  /* border-bottom: 1px solid grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 auto;
  height: 50px !important;
  padding: 0;
}
.navbar .actual {
  color: var(--azul) !important;
  border-left: 3px solid var(--azul) !important ;
}
.actual svg {
  color: var(--azul) !important;
}
.icono {
  width: 100%;
  color: black;
}
.navbar a {
  border-left: 3px solid rgb(255, 255, 255) !important;
}
.navbar a:first-child {
  margin-top: 10px;
}
.navbar a:last-child {
  margin-bottom: 10px;
}
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 50px; */
  border-radius: 30px;
  border-bottom-right-radius: 0;
  box-shadow: var(--sombra);
}
.desktop {
  max-width: 300px;
}
.sobre-mi-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slideshow {
  overflow: hidden;
  padding: 0;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease-in-out 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c1c1;
}

.slideshowDot.active {
  background-color: var(--verde);
}
.arrow-r,
.arrow-l {
  font-weight: 700;
  position: absolute;
  z-index: 20000;
  top: 50%;
  bottom: 50%;
  cursor: pointer;
}

.arrow-l {
  left: 20px;
  font-size: 30px;
}
.arrow-r {
  right: 20px;
  font-size: 30px;
}
.img-cv {
  max-width: 250px;
  margin-bottom: 15px;
  border-radius: 50%;
  box-shadow: var(--sombra);
}
.conocimientos {
  display: flex;
  flex-direction: column;
}
.imagen-descarga {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen-descarga .descarga {
  border-radius: 10px;
  border: 2px solid var(--azul);
  color: var(--azul);
}
.imagen-descarga .descarga:hover {
  border-radius: 10px;
  border: 2px solid white;
  background-color: var(--azul);
  color: white;
}
.conocimientos .progress {
  height: 25px;
  box-shadow: var(--sombra);
  margin: 5px 0;
}
.conocimientos .progress-bar {
  background-color: var(--verde);
}
.linkedin {
  font-size: 30px;
}
.linkedin-descarga {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.linkedin-descarga a {
  margin-right: 5px;
}
